* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100vh;
}

header {
    width = 100%;
    height = 200px;
    background: linear-gradient(to bottom, yellow, white);
    
    color: red;
}

nav {
    color: white;
    

}
