* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100vh;
   
   background-color: white;
}

header {
   width = 100%;
   height = 200px;
   background: linear-gradient(to bottom, yellow, white);
    
   color: red;
}

nav {
   color: white;
   width: 40%;
   height: 150px;
   border-radius: 15px;
   background-color: lightblue;
   
   display: flex;
   justify-content: space-around;
}

content {
   width: 90%;
   height: 600px;
   
   display: flex;
}